.products-contents{
    background-color: #e6e6e6;
    display: flex;
}

.left-contents{
    margin-left: 50px;
    width: 300px;
}

.keyword{
    width: 240px;
    height: 45px;
    padding-left: 15px;
    border-color: #e6e6e6;
    border-radius: 25px;
    border-width: thin;
}

.submit-button{
    display: block;
    background-color: rgb(255, 200, 0);
    width: 255px;
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px 0px 10px 0px;
    border: none;
    font-weight: bold;
}

.select-label{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}

.select-box {
    width: 100%;
    max-width: 200px;
    position: relative;
}
.select-box::after {
    content: "";
    position: absolute;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid #A1A3A6;
    border-bottom: 0;
    translate: 1400% -320%;
    pointer-events: none;
}

.select{
    display: inline-block;
    width: 255px;
    border-radius: 5px;
    margin-top: 25px;
    padding: 15px 5px 15px 10px;
    border: none;
    appearance: none;
}
